@charset "UTF-8";

nav {
	background-color: #041E52;
	float: none;
	margin-bottom: 0px;
	margin-left: -10px;
	margin-right: -10px;
}
footer {
	background-color: #031E52;
	color: #E4F2FE;
	font-size: 0.8em;
	font-weight: 400;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: antic-didone;
	font-style: normal;
	text-align: center;
	bottom: auto;
	clear: right;
	margin-bottom: -20%;
	margin-left: -10px;
	margin-right: -10px;
}

.asideLeft {
	width: 33%;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: px;
	float: left;
	padding-right: 5%;
}

header {
	text-align: center;
}
a {
	color: rgba(255,255,255,1.00);
	text-decoration: none;
}
.nav a #navHome {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	padding-left: 2%;
	padding-right: 2%;
}
.nav a #navHome:hover {
	-webkit-opacity: .6;
	opacity: .6;
}
.nav a #navResume {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	padding-left: 2%;
}
.nav a #navResume:hover {
	-webkit-opacity: .6;
	opacity: .6;
}
.nav a #navPortfolio {
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	padding-right: 2%;
	padding-left: 2%;
}
.nav a #navPortfolio:hover {
	-webkit-opacity: .6;
	opacity: .6;
}
.nav a #navJustforFun {
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	padding-left: 2%;
	padding-right: 2%;
}
.nav a #navJustforFun:hover {
	-webkit-opacity: .6;
	opacity: .6;
}
.nav a #navContact {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-right: 2%;
	padding-left: 2%;
}
.nav a #navContact:hover {
	-webkit-opacity: .6;
	opacity: .6;
}
header section  {
	background-color: rgba(255,255,255,0.67);
	background-size: cover;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}


.titlehome {
	font-size: 2.1em;
	font-family: 'Leckerli One', cursive;
	font-style: normal;
	font-weight: 800;
	color: #FFFFFF;
	text-shadow: 4px 0px #254356;
	text-align: center;
}
.sectionRight {
	margin-left: 2.5%;
	margin-right: 5%;
	width: 40%;
	float: right;
	min-width: 5%;
	font-family: 'Amaranth', Arial;
	font-size: 1.0em;
	color: rgba(20,36,45,1.00);
}
.sectionTop {
	text-align: center;
}
.imgresume {
	text-align:center
}
